<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!-- create tasks -->
<div id="create-task-modal-outer"></div>

<!-- create bonus -->
<div class="modal fade" id="create-bonus-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bonus erstellen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="#" class="form-row">
          <div class="col-12">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="col">
            <label for="type">Typ:</label>
            <select name="type" class="form-control">
              <option value="ABSOLUTE">absolut</option>
              <option value="RELATIVE">relativ</option>
            </select>
            <small>
              Absolute Werte werden zum eigentlichen Wert der Aufgabe
              addiert, relative mit diesem multipliziert. Bei einer Aufgabe
              mit 1500 XP ergibt ein absoluter Bonus von 100 XP 1600 XP und
              ein relativer von 1,1 (+10%) 1650 XP.
            </small>
          </div>
          <div class="col">
            <label for="value">Wert:</label>
            <input type="value" class="form-control" name="value">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Abbrechen
        </button>
        <button type="button" class="btn btn-primary save" disabled>
          <span class="fa fa-save"></span>
          Speichern
        </button>
      </div>
    </div>
  </div>
</div>

<div id="create-team-modal-container"></div>
