<!--
        WISG - make work a game
        Copyright (C) 2020  Eric Fischer and all contributors

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="container">
  <h1>Work is a game!</h1>
  <p>Bitte logge dich ein, um mitzuspielen.</p>

  <form id="login" action="#" method="post">
    <div class="message"></div>
    <div class="form-row">
      <div class="form-group col-12 col-lg-6">
        <label for="username">Benutzername</label>
        <input type="text" class="form-control" name="username" />
      </div>
      <div class="form-group col-12 col-lg-6">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" name="password" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col" id="server-input">
        <label for="server">Server-URL</label>
        <input type="text" class="form-control" name="server" />
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
